.navbar{
    background-color:#5FB404

}
.quem-somos{
    background:#00AFEF;
    color: white;
}

.margin{
    padding-top:50px;
    padding-bottom:30mm;
    padding:10px;
}
.parceiros{
    background-color:blueviolet
}

.bg-footer{
    background-color:black;
    color: white;
}